<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Madrid Players</title>
</head>
<body>

    <div id="app">
        <h1>Real Madrid Players</h1>
        <p v-if="playerList.length === 0">No players in Real Madrid</p>
        <ul v-else>
            <li v-for="player in playerList">
                <button @click="addFavouritePlayer(player)">⭐️{{ player.name }}</button>
            </li>
        </ul>
        <hr>
        <h1>Real Madrid Favourite Players</h1>
        <ul v-if="favouritePlayerList.length > 0">
            <li v-for="favouritePlayer in favouritePlayerList">{{ favouritePlayer.name }}</li>
        </ul>
        <p v-else>No favourite player in Real Madrid</p>
        <h2>Add new player</h2>
        <input
            type="text"
            v-model="newPlayer.name"
            @keyup.enter="addNewPlayer()"
        >
        <hr>
        <h1>Statistic in Real Madrid Players</h1>
        <ul>
            <!-- <li>CF: {{ CFList.length }}</li>
            <li>LWF: </li>
            <li>RWF: </li>
            <li>AMF: </li>
            <li>LMF: </li>
            <li>RMF: </li>
            <li>CMF: </li>
            <li>CD: </li> -->
            <li v-for="(stat, position) in positionList">
                {{ position }} : {{ stat }}
            </li>
        </ul>
    </div>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        Vue.createApp({
            data : () => ({
                playerList : [
                                {
                                    name : 'Ronaldo',
                                    position : ['CF', 'LWF', 'LMF', 'RWF', 'RMF']
                                },
                                {
                                    name : 'Vini Junior',
                                    position : ['CF', 'LWF', 'LMF']
                                },
                                {
                                    name : 'Mbappe',
                                    position : ['CF', 'LWF', 'LMF', 'RWF', 'RMF']
                                },
                                {
                                    name : 'Kaka',
                                    position : ['LMF', 'RMF', 'AMF', 'CMF']
                                },
                                {
                                    name : 'Ramos',
                                    position : ['CD']
                                }],
                favouritePlayerList : [],
                newPlayer : {name : ''},
            }),
            computed: {
                CFList () {
                    return this.playerList.filter(
                        player => player.position.indexOf('CF') > -1
                    )
                },
                positionList () {
                    const positions = ['CF', 'LWF', 'RWF', 'AMF', 'LMF', 'RMF', 'CMF', 'CD']
                    const statistics = {
                        CF: 0,
                        LWF: 0,
                        RWF: 0,
                        LMF: 0,
                        AMF: 0,
                        RMF: 0,
                        CMF: 0,
                        CD: 0,
                    }

                    this.playerList.forEach(player => {
                        positions.forEach(position => {
                            if (player.position.indexOf(position) > -1) {
                                statistics[position] += 1
                            }
                        })
                    })

                    return statistics
                }

            },
            methods: {
                addFavouritePlayer(player) {
                    this.favouritePlayerList.push(player)
                },
                addNewPlayer() {
                    this.playerList.push(this.newPlayer)
                    this.newPlayer = {name: ''}
                }
            }
        }).mount('#app')
    </script>
</body>
</html>