<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favourite Real Madrid Players</title>
</head>
<body>

    <div id="app">
        <p v-if="playerList.length === 0">No favourite players in Real Madrid</p>
        <ul v-else>
            <li v-for="player in playerList">{{ player.name }}</li>
        </ul>
    </div>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        Vue.createApp({
            data : () => ({
                playerList : [{name : 'Ronaldo'},{name : 'Vini Junior'},{name : 'Mbappe'},{name : 'Kaka'}]
            })
        }).mount('#app')
    </script>
</body>
</html>